﻿@model WebDemo.Models.Products
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var catagory = ViewBag.catagory;
    var supplier = ViewBag.supplier;
}

<h2>Create</h2>
@*
    ProductName
    SupplierID
    CategoryID
    QuantityPerUnit
    UnitPrice
    UnitsInStock
    UnitsOnOrder
    ReorderLevel
    Discontinued
*@

<form method="post">
    <div class="form-group row">
        <label for="ProductName" class="col-sm-2 col-form-label">ProductName</label>
        <div class="col-sm-10">           
            @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
        </div>        
    </div>
    <div class="form-group row">
        <label for="SupplierID" class="col-sm-2 col-form-label">Supplier</label>
        <div class="col-sm-10">
            <select class="form-control" id="SupplierID" name="SupplierID">
                @foreach (var item in supplier)
                {
                    <option value=@item.SupplierID>@item.CompanyName</option>
                }
            </select>
            @Html.ValidationMessageFor(model => model.SupplierID, "", new { @class = "text-danger" })
        </div>
    </div>
    <fieldset class="form-group">
        <div class="row">
            <label class="col-form-label col-sm-2">Category</label>
            <div class="col-sm-10">
                @foreach (var item in catagory)
                {
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id=@item.CategoryID value=@item.CategoryID name="CategoryID">
                        <label class="custom-control-label" for="@item.CategoryID"> @item.CategoryName</label>
                    </div>
                }
                @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
            </div>
        </div>
    </fieldset>
    <div class="form-group row">
        <label for="QuantityPerUnit" class="col-sm-2 col-form-label">QuantityPerUnit</label>
        <div class="col-sm-10">
            @Html.EditorFor(model => model.QuantityPerUnit, new { htmlAttributes = new { @class = "form-control" } })           
        </div>
    </div>
    <div class="form-group row">
        <label for="UnitPrice" class="col-sm-2 col-form-label">UnitPrice</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.UnitPrice, new { type = "number", min = "0", step = "0.01", @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <label for="UnitsInStock" class="col-sm-2 col-form-label">UnitsInStock</label>
        <div class="col-sm-10">           
            @Html.TextBoxFor(model => model.UnitsInStock, new { type = "number", min = "0", step = "1", @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <label for="ReorderLevel" class="col-sm-2 col-form-label">ReorderLevel</label>
        <div class="col-sm-10">          
            @Html.TextBoxFor(model => model.ReorderLevel, new { type = "number", min = "0", step = "1", @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <label for="Discontinued" class="col-sm-2 col-form-label">Discontinued</label>
        <div class="col-sm-10">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="Discontinued" name="Discontinued" value="true">
                <label class="form-check-label" for="Discontinued">
                    Discontinued
                </label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">submit</button>
        </div>
    </div>
</form>