﻿@model WebDemo.Models.Products
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var supplier = ViewBag.supplier;
    var catagory = ViewBag.catagory;
}

<h2>Detail</h2>

<!-- START row-->
<div class="row">
    <form method="post">
        @Html.HiddenFor(model => model.ProductID, new { htmlAttributes = new { @class = "form-control col-sm-10" } })
        <div class="form-group row">
            <label class="col-form-label col-sm-2">ProductName</label>
            <label class="col-sm-10">@Model.ProductName</label>
        </div>
        <div class="form-group row">
            <label for="SupplierID" class="col-sm-2 col-form-label">Supplier</label>           
            <label class="col-sm-10">@catagory.CategoryName</label>          
        </div>
        <fieldset class="form-group">
            <div class="row">
                <label class="col-form-label col-sm-2">Category</label>                
                <label class="col-sm-10">@supplier.CompanyName</label>               
            </div>
        </fieldset>
        <div class="form-group row">
            <label class="col-form-label col-sm-2">QuantityPerUnit</label>
            <label class="col-sm-10">@Model.QuantityPerUnit</label>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-2">UnitPrice</label>
            <label class="col-sm-10">@Model.UnitPrice</label>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-2">UnitsInStock</label>
            <label class="col-sm-10">@Model.UnitsInStock</label>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-2">ReorderLevel</label>
            <label class="col-sm-10">@Model.ReorderLevel</label>
        </div>
        <div class="form-group row">
            <label for="Discontinued" class="col-sm-2 col-form-label">Discontinued</label>
            <div class="col-sm-10">
                <div class="form-check">
                    @Html.CheckBoxFor(model => model.Discontinued, new { @disabled = "disabled" })
                    <label class="form-check-label" for="Discontinued">
                        Discontinued
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">                
                @Html.ActionLink("return", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </form>
</div>
<!-- END row-->