﻿@model WebDemo.Models.Products
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var catagory = ViewBag.catagory;
   
}

<h2>Edit</h2>

<!-- START row-->
<div class="row">
    <form method="post">
        @Html.HiddenFor(model => model.ProductID, new { htmlAttributes = new { @class = "form-control col-sm-10" } })
        <div class="form-group row">
            <label class="col-form-label col-sm-2">*ProductName</label>
            @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control col-sm-10" } })
            @Html.ValidationMessageFor(model => model.ProductName, null, new { @class = "text-danger" })
        </div>
        <div class="form-group row">
            <label for="SupplierID" class="col-sm-2 col-form-label">Supplier</label>
            <div class="col-sm-10">
                @Html.DropDownList("SupplierID", (IEnumerable<SelectListItem>)ViewBag.supplier)
            </div>
        </div>
        <fieldset class="form-group">
            <div class="row">
                <label class="col-form-label col-sm-2">Category</label>
                <div class="col-sm-10">
                    <div class="custom-control custom-radio">
                        <label class="custom-control-label" for="CategoryID">Beverages</label>
                        @Html.RadioButtonFor(model => model.CategoryID, 1)
                    </div>
                    <div class="custom-control custom-radio">
                        <label class="custom-control-label" for="CategoryID">Condiments</label>
                        @Html.RadioButtonFor(model => model.CategoryID, 2)
                    </div>
                    <div class="custom-control custom-radio">
                        <label class="custom-control-label" for="CategoryID">Confections</label>
                        @Html.RadioButtonFor(model => model.CategoryID, 3)
                    </div>
                    <div class="custom-control custom-radio">
                        <label class="custom-control-label" for="CategoryID">Dairy Products</label>
                        @Html.RadioButtonFor(model => model.CategoryID, 4)
                    </div>
                    <div class="custom-control custom-radio">
                        <label class="custom-control-label" for="CategoryID">Grains/Cereals</label>
                        @Html.RadioButtonFor(model => model.CategoryID, 5)
                    </div>
                    <div class="custom-control custom-radio">
                        <label class="custom-control-label" for="CategoryID">Meat/Poultry</label>
                        @Html.RadioButtonFor(model => model.CategoryID, 5)
                    </div>
                    <div class="custom-control custom-radio">
                        <label class="custom-control-label" for="CategoryID">Produce</label>
                        @Html.RadioButtonFor(model => model.CategoryID, 6)
                    </div>
                    <div class="custom-control custom-radio">
                        <label class="custom-control-label" for="CategoryID">Seafood</label>
                        @Html.RadioButtonFor(model => model.CategoryID, 8)
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="form-group row">
            <label class="col-form-label col-sm-2">QuantityPerUnit</label>
            @Html.EditorFor(model => model.QuantityPerUnit, new { htmlAttributes = new { @class = "form-control col-sm-10" } })
            @Html.ValidationMessageFor(model => model.QuantityPerUnit, null, new { @class = "text-danger" })
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-2">UnitPrice</label>
            @Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control col-sm-10" } })
            @Html.ValidationMessageFor(model => model.UnitPrice, null, new { @class = "text-danger" })
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-2">UnitsInStock</label>
            @Html.EditorFor(model => model.UnitsInStock, new { htmlAttributes = new { @class = "form-control col-sm-10" } })
            @Html.ValidationMessageFor(model => model.UnitsInStock, null, new { @class = "text-danger" })
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-2">ReorderLevel</label>
            @Html.EditorFor(model => model.ReorderLevel, new { htmlAttributes = new { @class = "form-control col-sm-10" } })
            @Html.ValidationMessageFor(model => model.ReorderLevel, null, new { @class = "text-danger" })
        </div>
        <div class="form-group row">
            <label for="Discontinued" class="col-sm-2 col-form-label">Discontinued</label>
            <div class="col-sm-10">
                <div class="form-check">
                    @Html.CheckBoxFor(model => model.Discontinued)
                    <label class="form-check-label" for="Discontinued">
                        Discontinued
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">submit</button>
                @Html.ActionLink("cancel", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </form>
</div>
<!-- END row-->