﻿@model IEnumerable<WebDemo.Models.Products>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product</h2>
<button class="btn btn-success" onclick="location.href='@Url.Action("Create","Product", null)'">Create</button>
   
    <div class="bs-example">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ProductID</th>
                    <th>ProductName</th>
                    <th>庫存金額</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.ProductID
                        </td>
                        <td>
                            @item.ProductName
                        </td>
                        <td>
                            @item.UnitPrice
                        </td>
                        <td>
                            <a href="@Url.Action("Detail", "Product", new { id = item.ProductID })"> Detail </a>
                            <a href="@Url.Action("Edit", "Product", new { id = item.ProductID })"> Edit </a>
                            <a href="@Url.Action("Delete", "Product", new { id = item.ProductID })"> Delete </a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>

