﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Asp .Net MVC</h1>
    <p class="lead">
        MVC 一種軟體架構模式，把系統分成三個種核心，分別為:Model, View, Controller。主要將網頁分成邏輯處理、視覺呈現與路由控制，各種元件處理不同的工作，強調職責分離，開發與維護人員可以更快速對於目的與問題，找到該處理的程式，讓程式的修改與功能擴充簡化，提高程式可用性。
    </p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>各項功能特色</h2>
        <p>
            <ul>
                <li> Model : 包含所有的邏輯、物件，內容豐富。</li>
                <li> Controller : 盡量輕量，這裡盡量不撰寫邏輯與物件，而傳遞資料為主。</li>
                <li> View : 僅呈現，故盡量單純呈現即可。</li>
            </ul>
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>軟體分層架構模式</h2>
        <p>
            <ul>
                <li> 展示層 (Presentation Layer) : UI 互動相關的部分。</li>
                <li> 業務層 (Business Layer) : 處理業務邏輯的部分。</li>
                <li> 資料層 (Data Layer) : 處理資料存取的部分。</li>
            </ul>
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Repository 特色</h2>
        <p>
            <ul>
                <li> 封裝數據查询和存儲邏輯。</li>
                <li> 更换、升级ORM時，不影響業務邏輯。</li>
                <li> 提高測試效率。</li>
            </ul>
        </p>
        <p></p>
    </div>   
    <div class="col-md-12">
        <br />
        <br />
        <br />
        <br />
        <p style="align-content:center;font:6px">
            資料來源:
            <ul>
                <li> https://dotblogs.com.tw/dog0416/2016/05/20/131644</li>
                <li> https://blog.johnwu.cc/article/software-layered-architecture-pattern.html</li>
                <li> https://www.cnblogs.com/dudu/archive/2011/05/25/repository_pattern.html</li>
            </ul>
        </p>
    </div>   
</div>